header {
    background-color: rgb(47, 49, 44);
    color: whitesmoke;
    text-align: center;

}
main {
   background-color: lightgray;
   background-image: url("record.png");
   background-repeat: repeat;
   padding: 1em; /* “em” is relative to the font size of its parent element. “1em” would be the same font size as the parent */
  margin: auto;
}


body {
    margin: 0px;
    padding: 0em;


}